<!DOCTYPE html>
<html lang="en">
   <%- include('../partials/head', {title: "Користувачі"}); %>
   <body>
      <div class="contain">
         <%- include('../partials/admin/nav'); %>
         <div class="main">
            <h1 class="titlemain" style="float:left">Користувачі</h1>
            <p id="toolbuttons" style="float:right; padding-top:20px;"><a class="reloadbutton" href="#">Оновити</a><a class="addbutton" href="#">Додати користувача</a></p>
            <div style="clear:both"></div>
            <div class="maincont" style="overflow-x:auto;">
                <% if (data !== null) { %>
                    <table>
                        <tr>
                            <th>Прізвище</th>
                            <th>Імя</th>
                            <th>По-батькові</th>
                            <th>Дата нар.</th>
                            <th>Роль</th>
                            <th width="15%" valign="top" colspan="3">Дії</th>
                        </tr>
                        <% for(var key in data) { %>
                            <tr>
                                <td><%= data[key].last_name %></td>
                                <td><%= data[key].first_name %></td>
                                <td><%= data[key].father_name %></td>
                                <td><%= data[key].date_birth %></td>
                                <td><%= data[key].role %></td>
                                <td width="5%" valign="top"><a href="/users/<%= data[key].id %>"><i class="fa fa-id-card-o" aria-hidden="true"></i></a></td>
                                <td width="5%" valign="top"><a href="/users/<%= data[key].id %>/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                                <td width="5%" valign="top"><a href="/users/<%= data[key].id %>/delete"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                            </tr>
                        <% } %>
                    </table>
                <% } else { %>
                    <p>Немає користувачів</p>
                <% } %>
               
            </div>
         </div>
         <%- include('../partials/footer'); %>
      </div>
      <%- include('../partials/scripts'); %>
   </body>
</html>