<!DOCTYPE html>
<html lang="en">
   <%- include('../partials/head', {title: "Головна"}); %>
   <body>
      <div class="contain">
         <%- include('../partials/reader/nav'); %>
         <div class="main">
            <div class="sidebar">
               <h2 style="text-align: center; font-size: 28px; ">Розділи</h2>
               <% if (data.sections !== null) { %>
                <% for(var key in data.sections) { %>
               <h3><a href="/sections/<%= data.sections[key].id %>"><%= data.sections[key].name %></a></h3>
               <% }%>
               <% } else { %>
                <p>Немає розділів</p>
                <% }%>
            </div>

            <div class="main2">
            <% if (data.top10Books.length !== 0 && data.new10Books.length !== 0) { %>
               <h2 style="text-align: center; font-size: 28px">Найпопулярніші книги</h2>
               <% for(var key in data.top10Books) { %>
                    <div class="book-container">
                        <div class="imgbook">
                            <img src="<%= data.top10Books[key].logo %>" >
                        </div>
                        <div class="descbook">
                            <h3><span class="statcount"><%= data.top10Books[key].name %></span></h3>
                            <h4>Автор: <span class="statcount"><%= data.top10Books[key].author_first_name %> <%= data.top10Books[key].author_last_name %></span></h4>
                            <h4>Розділ: <span class="statcount"><%= data.top10Books[key].section_name %></span></h4>
                            <h4>Рік: <span class="statcount"><%= data.top10Books[key].year %></span></h4>
                            <input class="button-view-book button1" type="button" onclick="location.href='/books/<%= data.top10Books[key].id %>';" value="Детальніше" />
                            <button class="button-view-book button1" onclick="change_icon(this,'<%= data.top10Books[key].id %>');" ><% if (data.top10Books[key].isFavourite) { %><i class="fa fa-heart" aria-hidden="true"><% } else  { %><i class="fa fa-heart-o" aria-hidden="true"></i><% } %></i></button>
                        </div>
                    </div>
                <% } %>
               <div style="clear:both"></div>


               <h2 style="margin-top: 20px; text-align: center; font-size: 28px">Нові книги</h2>
               <% for(var key in data.new10Books) { %>
               <div class="book-container">
                  <div class="imgbook">
                     <img src="<%= data.new10Books[key].logo %>" >
                  </div>
                  <div class="descbook">
                     <h3><span class="statcount"><%= data.new10Books[key].name %></span></h3>
                     <h4>Автор: <span class="statcount"><%= data.new10Books[key].author_first_name %> <%= data.new10Books[key].author_last_name %></span></h4>
                     <h4>Розділ: <span class="statcount"><%= data.new10Books[key].section_name %></span></h4>
                     <h4>Рік: <span class="statcount"><%= data.new10Books[key].year %></span></h4>
                     <input class="button-view-book button1" type="button" onclick="location.href='/books/<%= data.new10Books[key].id %>';" value="Детальніше" />
                     <button class="button-view-book button1" onclick="change_icon(this,'<%= data.new10Books[key].id %>');" ><% if (data.new10Books[key].isFavourite) { %><i class="fa fa-heart" aria-hidden="true"><% } else  { %><i class="fa fa-heart-o" aria-hidden="true"></i><% } %></i></button>
                  </div>
               </div>
               <% } %>
               <div style="clear:both"></div>
            <% } else { %>
                <p>Немає книг</p>
            <% } %>
            </div>
            <div style="clear:both"></div>
         </div>
         <%- include('../partials/footer'); %>
      </div>
      <%- include('../partials/scripts'); %>
   </body>
</html>